* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.headSettings{
    margin:0;
    container-type: inline-size;
}
.headSettings div:first-of-type{
    display: grid;
    justify-content: center;
    margin: 0;
}
.main-title{
    container-type: inline-size;
}
.main-title h2{
    display: grid;
    justify-content: center;
    margin: 0;
}
.menu-panel{
    display: grid;
    justify-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.menu-panel ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.menu-panel li{
    display: inline-block;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    transition: transform 0.3s ease-in-out;
}
.menu-panel li:hover{
    transform: translateY(-10px);
}

.footerSettings{
    display: flex;
    justify-content: space-between;
    container-type: inline-size;
}
.footerSettings ul{
    display:flex;
    justify-content: right;
}
.footerSettings ul li{
    display: inline-block;
    flex-wrap: nowrap;
    align-content: center;
    transition: transform 0.3s ease-in-out;
}
.footerSettings ul li:hover{
    transform: translateY(10px);
}
@media(max-width: 600px){
    .main-title h1{
        font-size: 6cqw;
    }
    .main-title h2{
        font-size: 5cqw;
    }
    .menu-panel{
        font-size: 2.5cqw;
    }
    .menu-panel li{
        margin: 2%;
        border-bottom: 1.5px solid lightgrey;
    }

    .footerSettings{
        border-top: 1.5px solid lightgrey;
    }
    .footerSettings p{
        padding-right: 2%;
        padding-left: 2%;
        margin-right: 0;
        font-size: 2.5cqw;
    }
    .footerSettings ul{
        width: 70%;
        margin-right: 1%;
        font-size: 2.5cqw;
        padding: 0;
    }
    .footerSettings ul li{
        padding-right: 2%;
        padding-left: 2%;
    }
}
@media(min-width: 601px) and (max-width: 1024px){
    .main-title h1{
        font-size: 8cqw;
    }
    .main-title h2{
        font-size: 6cqw;
    }
    .menu-panel{
        font-size: 4cqw;
    }
    .menu-panel li{
        margin: 2%;
        border-bottom: 3px solid lightgrey;
    }

    .footerSettings{
        border-top: 3px solid lightgrey;
    }
    .footerSettings p{
        padding-right: 2%;
        padding-left: 2%;
        margin-right: 0;
        font-size: 3cqw;
    }
    .footerSettings ul{
        width: 60%;
        margin-right: 1%;
        font-size: 2.5cqw;
        padding: 0;
    }
    .footerSettings ul li{
        padding-right: 2%;
        padding-left: 2%;
    }
}
@media(min-width: 1025px) and (max-width: 1440px){
    .main-title h1{
        font-size: 6cqw;
    }
    .main-title h2{
        font-size: 4cqw;
    }
    .menu-panel{
        font-size: 2cqw;
    }
    .menu-panel li{
        margin: 2%;
        border-bottom: 3px solid lightgrey;
    }

    .footerSettings{
        border-top: 3px solid lightgrey;
    }
    .footerSettings p{
        padding-right: 2%;
        padding-left: 2%;
        margin-right: 0;
        font-size: 1.5cqw;
    }
    .footerSettings ul{
        width: 60%;
        margin-right: 1%;
        font-size: 1.5cqw;
        padding: 0;
    }
    .footerSettings ul li{
        padding-right: 2%;
        padding-left: 2%;
    }
}
@media(min-width: 1441px){
    .main-title h1{
        font-size: 4cqw;
    }
    .main-title h2{
        font-size: 2cqw;
    }
    .menu-panel{
        font-size: 1cqw;
    }
    .menu-panel li{
        margin: 2%;
        border-bottom: 3px solid lightgrey;
    }

    .footerSettings{
        border-top: 3px solid lightgrey;
    }
    .footerSettings p{
        padding-right: 2%;
        padding-left: 2%;
        margin-right: 0;
        font-size: 1cqw;
    }
    .footerSettings ul{
        width: 60%;
        margin-right: 1%;
        font-size: 1cqw;
        padding: 0;
    }
    .footerSettings ul li{
        padding-right: 2%;
        padding-left: 2%;
    }
}
