#reviews-container {
    width: 80vw;
    border-collapse: separate; 
    border-spacing: 0 20px; 
    margin-left: auto;
    margin-right: auto;
}
.title-info-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 600px){
    .review-card {
        border: 2px solid lightgrey;
        container-type: inline-size;
    }

    .review-card td {
        border-top: 2px solid lightgrey;
        border-bottom: 2px solid lightgrey;
        padding: 20px;
    }

    .review-card td:first-child {
        border-left: 2px solid lightgrey;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 30%; 
    }
    .review-card td:last-child {
        border-right: 2px solid lightgrey;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .title-info-flex {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .review-card td div{
        font-size: 2.5cqw;
    }
    img {
        width: 100%; 
        max-width: 250px;
        height: auto;
        border-radius: 10px;
    }
}
@media(min-width: 601px) and (max-width: 1024px){
    .review-card {
        border: 2px solid lightgrey;
        container-type: inline-size;
    }

    .review-card td {
        border-top: 2px solid lightgrey;
        border-bottom: 2px solid lightgrey;
        padding: 20px;
    }

    .review-card td:first-child {
        border-left: 2px solid lightgrey;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 30%; 
    }
    .review-card td:last-child {
        border-right: 2px solid lightgrey;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .title-info-flex {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .review-card td div{
        font-size: 2cqw;
    }
    img {
        width: 100%; 
        max-width: 250px;
        height: auto;
        border-radius: 10px;
    }
}
@media(min-width: 1025px) and (max-width: 1440px){
    .review-card {
        border: 2px solid lightgrey;
        container-type: inline-size;
    }

    .review-card td {
        border-top: 2px solid lightgrey;
        border-bottom: 2px solid lightgrey;
        padding: 20px;
    }

    .review-card td:first-child {
        border-left: 2px solid lightgrey;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 30%; 
    }
    .review-card td:last-child {
        border-right: 2px solid lightgrey;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .title-info-flex {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .review-card td div{
        font-size: 2.5cqw;
    }
    img {
        width: 100%; 
        max-width: 250px;
        height: auto;
        border-radius: 10px;
    }
}
@media(min-width: 1441px){
        .review-card {
        border: 2px solid lightgrey;
        container-type: inline-size;
    }

    .review-card td {
        border-top: 2px solid lightgrey;
        border-bottom: 2px solid lightgrey;
        padding: 20px;
    }

    .review-card td:first-child {
        border-left: 2px solid lightgrey;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 30%; 
    }
    .review-card td:last-child {
        border-right: 2px solid lightgrey;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .title-info-flex {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .review-card td div{
        font-size: 1.5cqw;
    }
    img {
        width: 100%; 
        max-width: 250px;
        height: auto;
        border-radius: 10px;
    }
}